.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #f8f8f8;
}

.logo {
  height: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

a {
  text-decoration: none;
}
